/* ---- Home Background ---- */

@media (max-width: 600px) {

    .homeBackground {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    }

    .svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
    }

    .red_circle {
    fill: #5757;
    }

    .green_circle {
    fill: #7ed957;
    }

    .blue_circle {
    fill: #0cc0df;
    }

    .homeinfo {
    position: absolute;
    left: 29.5%;
    top: 12%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    }

    .home__h1, .home__h2 {
    word-wrap: break-word;
    word-break: break-word; 
    }

    .home__h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    margin-bottom: 0.1rem;
    max-width: 100%;
    }

    .home__h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35   px;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 0;
    }

    .homeinfo__left, 
    .homeinfo__right {
    flex: 1;
    }

    .homeinfoboxtitle {
    font-size: 30px;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    }

    .homeinfobox {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    }

    /* ---- Home Navigation Bar ---- */

    .nav {
    background-color: #ffdc5c;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
    }

    .nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin:auto;
    }

    .nav__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem
    }

    .nav__left {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-left: 18%;
    }

    .nav__link {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    }

    .nav__link__active {
    text-decoration: underline;
    }

    .nav__login {
    color: #6b4e00;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    }

    .nav__create {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    }
}



.homeBackground {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
  }

.red_circle {
    fill: #ff5757;
}

.green_circle {
    fill: #7ed957;
}

.blue_circle {
    fill: #0cc0df;
}

.homeinfo {
    position: absolute;
    left: 29.5%;
    top: 12%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
}

.home__h1, .home__h2 {
    word-wrap: break-word;
    word-break: break-word; 
}

.home__h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    margin-bottom: 0.1rem;
    max-width: 100%;
}

.home__h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35   px;
    text-decoration: none;
    font-weight: lighter;
    margin-top: 0;
}

.homeinfo__left, 
.homeinfo__right {
    flex: 1;
}

.homeinfoboxtitle {
    font-size: 30px;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.homeinfobox {
    font-size: 30px;
    margin-top: 0;
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

/* ---- Home Navigation Bar ---- */

.nav {
    background-color: #ffdc5c;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 1200px;
    margin:auto;
}

.nav__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem
}

.nav__left {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-left: 18%;
}

.nav__link {
    color: black;
    text-decoration: none;
    font-size: 2rem;
}

.nav__link__active {
    text-decoration: underline;
}

.nav__login {
    color: #6b4e00;
    text-decoration: underline;
    text-align: center;
    width: 100%;
}

.nav__create {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    width: 100%;
}